
.price {
    /* display: flex;
    flex-direction: column;
    align-items: flex-start; */
}

.price-title {
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 20px;
}

.price-items {
    margin-top: 20px;
}

.price-label-container {
    position: relative;
    display: block;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    width: 100%;
    overflow: hidden;
}


.radio {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: #eee;
    border-radius: 50%;
    transition: all ease 300ms;
}

.price-label-container:hover input ~ .checkmark {
    background-color: #ccc;
}

.price-label-container input:checked ~ .checkmark {
    background-color: #2196f3;
}

.checkmark::after {
    content: "";
    position: absolute;
    display: none;
}

.price-label-container input:checked ~ .checkmark::after {
    display: block;
}

.price-label-container .checkmark::after {
    top: 6px;
    left: 6px;
    width: 7px;
    height: 7px;
    object-fit: contain;
    border-radius: 50%;
    background-color: white;
}

.line {
    margin-top:3rem;
    border-color: #f7f7f7;
}