.home-page {
    width: 100%;
    min-height: 100vh;
    display: grid;
    grid-template-columns: 13rem 1fr;
    grid-template-rows: auto auto 1fr auto;
    grid-template-areas:
        "sidebar navigation"
        "sidebar recommended"
        "sidebar products"
        "sidebar footer";
}

.sidebar { grid-area: sidebar; }
.navigation { grid-area: navigation;  }
.recommended { grid-area: recommended; }
.products { grid-area: products; }
.footer { grid-area: footer; }


@media only screen and (max-width: 600px) {
    .home-page {
        min-height: 100vh;
        position: relative;
        width: 100%;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto auto 1fr auto;
        grid-template-areas:
            "navigation"
            "recommended"
            "products"
            "footer";
    }

}